* {
  margin: 0;
  padding: 0;
}

body {
	background-color: #191b1e;
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

.body-container {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.topnav {
	height: 64px;
	background-color: #292c32;
	position: relative;
}

.topnav .circle {
	height: 32px;
	width: 32px;
	background-color: #357df7;
	border-radius: 50%;
	display: inline-block;
	
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.topnav .search-icon {
	display: none;
}

.middle {
}

.middle .bg-top-right {
	display: none;
}

.middle .bg-bottom-left {
	display: none;
}


.title {
	width: 100%;
	height: 33px;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	margin-top: 32px;
	margin-bottom: 32px;
}

.input-group {
	width: 100%;
	max-width: 343px;
	text-align: start;
	margin-bottom: 24px;
}

.input-field,
.input-field-textarea {
	width: 100%;
	height: 38px;
	color: #ffffff;
	background-color: #191b1e;
	border-radius: 8px;
	border-width: 1px;
	font-size: 18px;
	margin-top: 10px;
	padding-left: 10px;
}

.input-field-textarea {
	height: 100%;
}

.validation-error {
	margin-top: 10px;
	color: #ff0000
}

form {
	width: 100%;
	display:flex;
    flex-direction: column;
	align-items: center;
}

button.submit {
	width: 100%;
	min-width: 355px;
	height: 40px;
	background-color: #5b9af8;
	border-radius: 8px;
	border-width: 0px;
	color: #ffffff;
	margin-top: 8px;
	margin-bottom: 12px;
	
	font-size: 14px;
	font-weight: 700;
}

@-moz-document url-prefix() {
    button.submit {
        margin-top: 40px;
    }
}

form button.submit:disabled {
	color: #808080;
	background-color: #d3d3d3;
}

.bottomnav {
	background-color: #292c32;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 258px;
}

.icons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 374px;
}

.bottomnav svg {
	width: 32px;
	height: 32px;
	margin: 30px 25px 30px 25px;
}

.links-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 374px;
	margin-top: -20px;
}

.links-group-1,
.links-group-2, 
.links-group-3 {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 10px;
}

.links-group-1 a {
	color: white;
	text-decoration: none;
}

.links-group-2 a {
	color: gray;
	text-decoration: none;
}

.links-group-3 {
	margin-top: 20px;
}

.link {
	padding: 10px 25px 10px 25px;
}

button.default {
	width: 165px;
	height: 40px;
	background-color: #292c32;
	border-radius: 8px;
	border-width: 1px;
	color: #466ca6;
	padding-left: 20px;
	text-align: start;
	
	font-size: 14px;
	font-weight: 700;
}

@media only screen and (min-width: 768px) {
	.topnav {
		height: 80px;
	}
	
	.topnav .circle {
		height: 40px;
		width: 40px;
	}
	
	.topnav .search-icon {
		display: inline-block;
		
		width: 24px;
		height: 24px;
		margin-right: 173px;
		
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0%, -50%);
	}
	
	.middle .bg-top-right {
		display: inline-block;
		
		position: absolute;
		top: 0px;
		right: 0px;
		z-index:-1;
	}
	
	.middle .bg-bottom-left {
		display: inline-block;
		
		position: absolute;
		bottom: 0px;
		left: 0px;
		z-index:-1;
	}
	
	_::-webkit-full-page-media, _:future, :root .middle .bg-bottom-left {
		bottom: -192px;
	}
	
	.title {
		width: 100%;
		height: 39px;
		font-size: 26px;
		font-weight: 500;
		text-align: center;
		color: #ffffff;	
		margin-top: 50px;
		margin-bottom: 36px;
	}
	
	button.submit {
		margin-bottom: 46px;
	}
	
	.bottomnav {
		height: 192px;
	}
	
	.bottomnav svg {
		width: 40px;
		height: 40px;
		margin: 30px 46px 40px 46px;
	}
	
	.links-container {
		width: 100%;
		flex-wrap: nowrap;
		align-content: space-between;
	}
	
	.links-group-1,
	.links-group-2, 
	.links-group-3 {
		flex: 1;
	}

	.link {
		flex: 1;
		padding: 10px 0px 10px 0px;
	}
	
	.links-group-3 {
		margin-top: 10px;
	}
}